html,
body,
#__nuxt,
#__layout {
  height: 100% !important;
  width: 100% !important;
}

body {
  font-family: "soleil", sans-serif;
}

body .xcond {
  font-family: "ff-good-web-pro-extra-conden", sans-serif;
  @apply italic;
}

.countdown-tile {
  @apply flex justify-center items-center w-36 h-36 border-8 border-[#231f20] bg-gradient-to-b from-[#ffffff] from-60% to-[#231f20] to-100%;
}

.countdown-text {
  @apply text-6xl font-black;
}

.countdown-title {
  @apply text-3xl font-extrabold;
}

.footer a {
  @apply hover:underline;
}
