@import "tailwindcss";
@import "vue-select/dist/vue-select.css";

@theme {
  --font-*: initial;
  --font-sans: soleil, inter, sans-serif;
  --font-serif: rooney-web, serif;

  --color-beige: #f4e9e1;
  --color-mustard: #f2cb50;
  --color-light-blue: #d3e6ef;
  --color-light-pink: #fad7d9;
  --color-primary-pink: #ffbbbe;
  --color-voice-orange: #f2682f;
  --color-advice-green: #00a463;
  --color-primary-blue: #307cbf;
  --color-primary-red: #e74c3c;
  --color-roses-dark: #231f20;
  --color-roses-red: #e1240f;
  --color-roses-red-dark-bg: #e95443;
  --color-roses-red-dark: #c73120;
  --color-light-gray: #f8f8f8;

  --breakpoint-xxs: 320px;
  --breakpoint-xs: 476px;
  --breakpoint-3xl: 1650px;
  --breakpoint-max: 1900px;
}

@utility container {
  padding-inline: 1rem;
}

.body .container {
  @apply max-w-[1000px];
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html,
body,
#__nuxt,
#__layout {
  height: 100% !important;
  width: 100% !important;
}

body {
  font-family: "soleil", sans-serif;
}

body .xcond {
  font-family: "ff-good-web-pro-extra-conden", sans-serif;
}

.countdown-tile {
  @apply flex justify-center items-center w-36 h-36 border-8 border-[#231f20] bg-linear-to-b from-[#ffffff] from-60% to-[#231f20] to-100%;
}

.countdown-text {
  @apply text-9xl text-roses-red font-extrabold;
}

.countdown-title {
  @apply text-3xl font-extrabold;
}

.footer a {
  @apply hover:underline;
}

.fixtureTile {
  @apply border-b border-slate-300 py-5 justify-between;
}

.scoreTile {
  @apply px-1 flex justify-center items-center min-w-9 h-9;
}

.scoreTileYork {
  @apply border border-black;
}

.scoreTileLancaster {
  @apply bg-roses-red text-white;
}

.fixtureTime {
  @apply lg:pl-24 lg:pr-16 lg:border-r border-slate-300;
}

.fixtureDetails {
  @apply lg:pl-16;
}

.key-rules ol {
  @apply list-decimal flex flex-col gap-2 pl-4;
}
.key-rules ul {
  @apply list-disc flex flex-col gap-2 pl-4;
}

/* Modals */
.modal {
  @apply fixed left-0 right-0 top-0 z-50 h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0;
}

.modal-body {
  @apply space-y-4 p-4 md:p-5;
}

.modal-body p {
  @apply text-base leading-relaxed text-black dark:text-gray-200;
}

.modal-dialog {
  @apply relative max-h-full w-full max-w-2xl p-4;
}

.modal-content {
  @apply relative rounded-lg bg-white shadow dark:bg-gray-700;
}

.modal-header {
  @apply flex items-center justify-between rounded-t border-b p-4 md:p-5 dark:border-gray-600;
}

.modal-title {
  @apply text-xl font-semibold dark:text-white;
}

.modal-footer {
  @apply flex items-center gap-3 rounded-b border-t border-gray-200 p-4 md:p-5 dark:border-gray-600;
}

/* Mapbox */
.mapboxgl-popup-close-button {
  @apply p-1 pr-2;
}

/* Live page */
.activePage {
  @apply bg-roses-red text-white;
}

/* Banners */
/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.fade-enter-active {
  @apply delay-300 duration-300 ease-out;
}
.fade-enter-from {
  @apply transform opacity-0;
}
.fade-enter-to {
  @apply opacity-100;
}
.fade-leave-active {
  @apply transform duration-200 ease-in;
}
.fade-leave-from {
  @apply opacity-100;
}
.fade-leave-to {
  @apply opacity-0;
}

.slide-prev-enter-active {
  @apply duration-[1000ms] ease-linear;
}
.slide-prev-enter-from {
  @apply translate-x-[-100%] transform opacity-0;
}
.slide-prev-enter-to {
  @apply opacity-100;
}
.slide-prev-leave-active {
  @apply translate-x-[100%] transform duration-[1000ms] ease-linear;
}
.slide-prev-leave-from {
  @apply opacity-100;
}
.slide-prev-leave-to {
  @apply opacity-0;
}

.slide-next-enter-active {
  @apply duration-[1000ms] ease-linear;
}
.slide-next-enter-from {
  @apply translate-x-[100%] transform opacity-0;
}
.slide-next-enter-to {
  @apply opacity-100;
}
.slide-next-leave-active {
  @apply translate-x-[-100%] transform duration-[1000ms] ease-linear;
}
.slide-next-leave-from {
  @apply opacity-100;
}
.slide-next-leave-to {
  @apply opacity-0;
}

.slide-top-enter-active,
.slide-top-leave-active {
  transition:
    max-height 1s ease,
    transform 0.5s ease,
    opacity 0.5s ease;
  overflow: hidden;
}
.slide-top-enter-from,
.slide-top-leave-to {
  max-height: 0;
  opacity: 0;
}
.slide-top-enter-to,
.slide-top-leave-from {
  max-height: 250px;
  opacity: 1;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition:
    max-height 1s ease,
    transform 0.5s ease,
    opacity 0.5s ease;
  overflow: hidden;
}
.slide-bottom-enter-from,
.slide-bottom-leave-to {
  max-height: 0px;
  opacity: 0;
}
.slide-bottom-enter-to,
.slide-bottom-leave-from {
  max-height: 250px;
  opacity: 1;
}

.banner-container {
  @apply w-full max-w-screen-2xl;
}

/* Vue-Select */
.vs__dropdown-menu {
  @apply bg-light-gray;
}

.vs__dropdown-menu::-webkit-scrollbar {
  @apply w-2;
}

.vs__dropdown-menu::-webkit-scrollbar-track {
  @apply w-4;
}

.vs__dropdown-menu::-webkit-scrollbar-thumb {
  @apply bg-roses-red rounded-lg;
}

.vs__dropdown-menu::-webkit-scrollbar-thumb:hover {
  @apply bg-roses-red-dark;
}

.vs__dropdown-option--highlight {
  @apply text-roses-red font-semibold bg-gray-100;
}
