@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-sans: soleil, inter, sans-serif;
  --font-serif: rooney-web, serif;

  --color-beige: #f4e9e1;
  --color-mustard: #f2cb50;
  --color-light-blue: #d3e6ef;
  --color-light-pink: #fad7d9;
  --color-primary-pink: #ffbbbe;
  --color-voice-orange: #f2682f;
  --color-advice-green: #00a463;
  --color-primary-blue: #307cbf;
  --color-primary-red: #e74c3c;
  --color-roses-dark: #231f20;
  --color-roses-red: #ea3723;
  --color-light-gray: #f8f8f8;

  --breakpoint-xxs: 320px;
  --breakpoint-xs: 476px;
  --breakpoint-3xl: 1650px;
  --breakpoint-max: 1900px;
}

@utility container {
  padding-inline: 1rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html,
body,
#__nuxt,
#__layout {
  height: 100% !important;
  width: 100% !important;
}

body {
  font-family: "soleil", sans-serif;
}

body .xcond {
  font-family: "ff-good-web-pro-extra-conden", sans-serif;
}

.countdown-tile {
  @apply flex justify-center items-center w-36 h-36 border-8 border-[#231f20] bg-linear-to-b from-[#ffffff] from-60% to-[#231f20] to-100%;
}

.countdown-text {
  @apply text-9xl text-roses-red font-extrabold;
}

.countdown-title {
  @apply text-3xl font-extrabold;
}

.footer a {
  @apply hover:underline;
}

.fixtureTile {
  @apply border-b border-slate-300 py-5 justify-between;
}

.scoreTile {
  @apply px-1 aspect-square flex justify-center items-center w-9 h-9;
}

.scoreTileYork {
  @apply border border-black;
}

.scoreTileLancaster {
  @apply bg-roses-red text-white;
}

.fixtureTime {
  @apply lg:pl-24 lg:pr-16 lg:border-r border-slate-300;
}

.fixtureDetails {
  @apply lg:pl-16;
}

.key-rules ol {
  @apply list-decimal flex flex-col gap-2 pl-4;
}
.key-rules ul {
  @apply list-disc flex flex-col gap-2 pl-4;
}
